@media (min-width: 1430px) {
    body {
        margin: 0; /* Réinitialisation des marges pour éviter les écarts */
        margin-top: 110px;
    }

    @font-face {
        font-family: 'titre';
        src: url("../fonts/BerkshireSwash-Regular.ttf");
    }

    .bandeStatique {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 50px;
        background-color: white;
        display: flex;
        align-items: center;
        padding: 5px;
        z-index: 2; /*on lui donne une plus grande valeur pour qu'il soit au premier plan*/

    }

    .logo img {
        padding-top: 5px;
        height: 75px;
    }

    .nom-du-restaurant {
        font-family: 'titre';
        flex: 1; /* Le texte prendra tout l'espace restant */
        display: flex;
        align-items: center;
        justify-content: center; /* Centrer horizontalement */

    }

    .nom-du-restaurant h1 {
        margin: 0; /* Supprimer les marges par défaut du titre */
        font-size: 43px; /* Taille de police du titre */
        color: black; /* Couleur du texte */
        padding-right: 8%;
        justify-content: center;
    }

    .petiteBandeTricolore {
        position: fixed;
        z-index: 1; /*on lui donne une plus petite valeur pour qu'il soit au second  plan*/
        top: 60px; /* Ajustez cette valeur pour aligner correctement la bande */
        width: 100%;
        height: 20px; /* Hauteur de la bande blanche */
        background-color: #ffffff; /* Couleur blanche */
        border-bottom: 15px solid #a9151d; /* Bordure blanche en dessous de la couleur verte */
        border-top: 15px solid #134f2b; /* Bordure rouge au-dessus de la couleur verte */
    }

    .petiteBandeTricolore {
        display: flex;
        justify-content: space-between;
    }
    .petiteBandeTricolore a {
        margin-left: 100px; /* ajoute un espace entre la marge de la page et le lien*/
        margin-right: 100px;
        text-decoration: none; /* Supprime les soulignements par défaut des liens */
        color: #000000; /* Couleur des liens */
        font-weight: bold;
    }
    .petiteBandeTricolore .lienP {
        margin-left: 100px; /* ajoute un espace entre la marge de la page et le lien*/
        margin-right: 100px;
        text-decoration: none; /* Supprime les soulignements par défaut des liens */
        color: #e0c389; /* Couleur des liens */
        font-weight: bold;
    }


    .petiteBandeTricolore a:hover {
        color: #e0c389; /* Change la couleur du texte au survol */
        transition: 0.5s; /*ajoute un effet lorsqu'on met le curseur sur le texte*/
        cursor: pointer;
    }

    #france {
        border:3px solid green ;
        border-radius: 5%;
        width: 750px;
        z-index: 1;

    }

    .menuDeroulant  {
        display: none; /*cache les liens du menu déroulant */
    }


    .iconeMenu {
        display: flex;
        width: 30px; /* Largeur de l'icône du menu */
        height: 20px; /* Hauteur de l'icône du menu */
        cursor: pointer; /* Curseur indiquant que l'élément est cliquable */
    }


    .iconeMenu:hover .ligne{
        background-color: #a9151d;
    }

    .menuDeroulant {
        display: none; /* Masque initialement les liens du menu */
        position: absolute;
        top: 220px; /* Ajustez la position verticale du menu déroulant */
        right: 120%;
        background-color: white;
        border: 3px solid #134f2b; /*change la couleur de l'encadré*/
        padding: 10px;

    }

    .iconeMenu:hover .menuDeroulant {
        display: block; /* Affiche les liens du menu au survol de l'icône */
    }

    .menuDeroulant .lieux {
        display: block;
        text-decoration: none;
        color: #920c0c;
        text-align: center;
        margin-bottom: 5px;
        font-weight: bold;
        font-family: Titre;
        font-size: 150%;
    }
    .menuDeroulant a {
        display: block;
        text-decoration: none;
        color: #000000;
        text-align: center;
        margin-bottom: 5px;
        font-family: Titre;
        font-size: 100%;
    }



    footer {
        top: 0;
        left: 0;
        right: 0;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center; /* Pour centrer horizontalement les liens */
        padding: 5px;
        background-color: #134f2b;
    }

    .mail, .insta, .tel{
        font-family: 'Titre';
        text-decoration: none;
        color: #ffffff;
        display: flex;
        align-items: center; /* Pour aligner les éléments flexibles verticalement */
        margin: 0 110px; /* Espacement entre les liens */
    }

    .logos {
        width: 20px; /* Taille des logos */
        height: auto; /* Hauteur automatique pour préserver les proportions */
        margin-right: 5px; /* Espacement entre le logo et le texte */
    }

    .mail:hover, .insta:hover, .tel:hover {
        color: #e0c389; /* Change la couleur du texte au survol */
        transition: 0.5s; /*ajoute un effet lorsqu'on met le curseur sur le texte*/
        cursor: pointer;
    }

    #cible1 {
        position: relative;
        z-index: 50;
        bottom: 500px;
        left: 230px;
    }
    #cible2 {
        position: relative;
        bottom:580px;
        left: 350px;
    }


    #cible3 {
        position: relative;
        bottom:350px;
        left: 492px;
    }


    #cible4 {
        position: relative;
        bottom:410px;
        left: 220px;
    }


    #cible5 {
        position: relative;
        bottom:680px;
        left: 500px;
    }
    #cible6 {
        position: relative;
        bottom:280px;
        left: 300px;
    }
    .resto {
        width: 400px;
    }
    #cadre {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    #carte {
        width: 750px;
        position: relative;
        margin-left: 45%;
        height: 750px;
    }
}
